body{
    background-color:yellowgreen;
}

fieldset{
    width: 40%;
    height: 700px;
    margin-left: 40px;
    margin-top: -100px;
    background-color:rgb(50, 52, 53);
    border-radius: 10px;
    color: rgb(241, 246, 250);
}
.sports{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.heading{
    font-size:x-large;
    text-align: center;
    color: yellow;
    text-decoration: underline;
}

.favorite-sports{
    font-family: 'Times New Roman', Times, serif;
    font-size:21px;
   /* margin-left: 200px; */
}